<form action="lib/save.php" method="POST" class="edit">
  <!-- meta info -->
  <input type="hidden" id="table" name="table" value="Author" />
  <input type="hidden" id="pkey" name="pkey" value="aut_id" />
  <input type="hidden" id="aut_id" name="aut_id" value="@aut_id@" />
  <input type="hidden" id="afterinsert" name="afterinsert" value="index.php" />
  <input type="hidden" id="afterupdate" name="afterupdate" value="index.php" />
  <!-- end meta info -->

  <!--security-->
  <input type="hidden" name="csrf" value="@csrf_token@" />
  <!--end security-->
  <div>
    <label for="aut_firstname" class="edit__label">Firstname</label>
    <input
      type="text"
      class="edit__text"
      placeholder="Firstname"
      value="@aut_firstname@"
      name="aut_firstname"
    />
  </div>
  <div>
    <label for="aut_lastname" class="edit__label">Lastname</label>
    <input
      type="text"
      class="edit__text"
      placeholder="Lastname"
      value="@aut_lastname@"
      name="aut_lastname"
    />
  </div>
  <div>
    <label for="country" class="edit__label">Country</label>
    @select_country@
  </div>
  <div>
    <label for="gender" class="edit__label">Gender</label>
    @select_gender@
  </div>
  <div>
    <label for="aut_birthday" class="edit__label">Birthday (YY-MM-DD)</label>
    <input
      type="text"
      class="edit__text"
      placeholder="Birthday"
      value="@aut_birthday@"
      name="aut_birthday"
    />
  </div>
  <div>
    <label for="aut_bio" class="edit__label">Biography</label>
    <input
      type="text"
      class="edit__text"
      placeholder="Biography"
      value="@aut_bio@"
      name="aut_bio"
    />
  </div>
  <button class="edit__button" type="submit">Save</button>
</form>
