<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Author</title>
    <link rel="stylesheet" href="styles/detailpage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <div class="aContainer">
        <img src="https://picsum.photos/500/300" alt="aut_img" />
        <div class="bio">
          <h1 class="author title">
            <span> ✍ </span>&nbsp Author name: @aut_firstname@ &nbsp
            @aut_lastname@
          </h1>
          <h2 class="gen title">Gender: @gender_id</h2>
          <h2 class="bd title">Born on: @aut_birthday@</h2>
          <h2 class="country title">Country: @country_id@</h2>
          <hr />
          <p class="bio">@aut_bio@</p>
        </div>
      </div>
    </main>
  </body>
</html>
