<header>
  <div class="hContainer">
    <h1 class="title">
      <img
        src="https://dummyimage.com/70x70/587297/fff"
        alt=""
        class="title__img"
      /><span class="title__first">W</span>URMS
    </h1>
    <nav>
      <ul class="list">
        <li class="list__item">
          <a href="./index.php" class="list__item__link">Home</a>
        </li>
        <li class="list__item">
          <a href="./listpagebook.php" class="list__item__link">Boeken</a>
        </li>
        <li class="list__item">
          <a href="./listpageautor.php" class="list__item__link">Auteur</a>
        </li>
      </ul>
    </nav>
    <form action="" class="search">
      <input type="text" class="search__input" placeholder="Zoeken" />
      <button type="submit" class="search__button">🔎</button>
    </form>
  </div>
</header>
