@use "_reset.scss";

* {
  box-sizing: border-box;
  font-family: "Old Standard TT", serif;
}

.mContainer {
  max-width: 1500px;
  margin: 0 auto;
  min-height: 100px;
  padding: 20px;
  background-color: white;
}

section {
  &.slogan {
    background-color: #5d7595;
    padding: 10px 20px;
    p {
      color: white;
      font-size: 25px;
      &:nth-child(-n + 2) {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
      }
    }
  }
  &.books {
    h2 {
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 30px;
      color: #5d7595;
      text-decoration: none;
    }
    .list_books {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(200px, auto);
      article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        h2 {
          margin: 0;
          font-size: 1.5em;
          &:first-child {
            margin-bottom: 15px;
          }
        }
        .img {
          position: relative;
          p {
            position: absolute;
            bottom: 20%;
            border: solid 1px #5d7595;
            background-color: white;
            padding: 5px 30px 5px 10px;
          }
        }

        .description {
          a {
            &:link {
              text-decoration: none;
            }
            &.book_active:hover {
              h2 {
                border-bottom: 1px solid #5d7595;
                color: #e4c4bc;
              }
            }
            &.author_active:hover {
              h2 {
                border-bottom: 1px solid #5d7595;
                color: #e4c4bc;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  section {
    &.slogan {
      p {
        text-align: center;
      }
    }
    &.books {
      div.list_books {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  section {
    &.books {
      div.list_books {
        grid-template-columns: repeat(1, 1fr);
        article {
          margin: 0 auto;
        }
      }
    }
  }
}
