@use "_reset.scss";

* {
  box-sizing: border-box;
}

.mContainer {
  max-width: 1500px;
  margin: 0 auto;
  min-height: 100px;
  padding: 20px;
  background-color: white;
}

section {
  &.slogan {
    background-color: #5d7595;
    p:nth-child(-n + 3) {
      text-align: center;
    }
  }
  &.test {
    h2 {
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 30px;
    }
    div.books {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 100px;
    }
    a {
      cursor: pointer;
    }
    article {
      font-size: 16px;
      flex: 1 1 300px;
      background-color: red;
    }
    div.imgholder {
      aspect-ratio: 16 / 9;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      p {
        position: absolute;
        bottom: 10%;
        border: solid 1px #5d7595;
        background-color: white;
        padding: 0 10% 0 3%;
      }
    }
  }
}
